@charset "utf-8";
/* CSS Document */

/*消除浏览器差异*/
* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

/*整体样式*/
body {
	scrollbar-base-color: #d9e6fc;
	scrollbar-darkshadow-color: #006699;
	scrollbar-shadow-color: #95b7f3;
	scrollbar-arrow-color: #006699;
	font-size: 12px;
	background-color: #FAFAFA;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 43%;
}

.ui-datepicker-trigger{
	vertical-align:middle;
}

.ui-progressbar {
	height: 1em;
	text-align: left;
	overflow: hidden;
}

.ui-progressbar .ui-progressbar-value {
	margin: -1px;
	height: 100%;
}

.ui-resizable {
	position: relative;
}

.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
	padding: .2em .2em .2em .4em;
	zoom: 1;
}

.ui-accordion .ui-accordion-icons {
	padding-left: 1.5em;
}

.ui-accordion .ui-accordion-noicons {
	padding-left: .7em;
}

.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 1.5em;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}

.ui-accordion .ui-accordion-content {
	padding: 0 0;
	border-top: 0;
}

.ui-dialog .ui-dialog-content {
	padding: .3em 0;
}

.ui-dialog .ui-dialog-titlebar {
	padding: .3em 1em;
}

/* 去掉倒圆角 */
.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	-khtml-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr {
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	-khtml-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
}

.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl {
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-khtml-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br {
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-khtml-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

form {
	margin: 0 0 0px;
}

.container-fluid {
	padding-right: 1px;
	padding-left: 1px;
	*zoom: 1;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-inner {
	min-height: 0px;
	padding-left: 2px;
	padding-right: 2px;
}

.btn {
	padding: 2px 4px 2px 4px;
}

.navbar .btn,.navbar .btn-group {
	margin-top: 0px;
}

.navbar .btn {
	margin-top: 1px;
	margin-bottom: 1px;
}

.navbar-inner .divider {
	padding-bottom: 4px;
	margin: 0;
	font-size: 22px;
	line-height: 14px;
	vertical-align: middle;
	color: #ccc;
}

.form-horizontal .control-group {
	margin-bottom: 10px;
}

.required {
	color: red;
}

.error label {
	color: red;
}

.ui-pg-input {
	width: 40px
}

.ui-pg-selbox {
	width: 60px;
	padding: 0px;
}

.ui-jqgrid .ui-jqgrid-view {
	font-size: 12px;
}

.ui-jqgrid .ui-jqgrid-titlebar {
	height: 20px;
}

select {
	padding: 0px 0px;
	margin-bottom: 0px;
}

.toolbar {
	display: block;
	background-color: #FFF;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.toolbar .toolbar-inner {
	background-color: #F0F0EE;
	padding: 2px 2px;
	overflow: hidden;
	zoom: 1;
}

.row-fluid [class*="span"] {
	min-height: 1px;
}

.toolbar .divider-vertical {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	text-align: center;
	font-size: 18px;
	width: 2px;
	height: 20px;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #ffffff;
	_zoom: 1;
	_display: inline;
	*display: inline;
}

.toolbar div.pull-right {
	_zoom: 1;
	_display: inline;
	*display: inline;
}

select,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
	{
	line-height: 24px;
	height: 24px;
	padding: 0px 0px 0px 2px;
	min-height: 1px;
}

select,input[type="file"] {
	height: 26px;
	padding: 3px;
	line-height: 26px;
}

.input-append .add-on,.input-prepend .add-on {
	padding: 2px 4px 2px 4px;
}

.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button
	{
	font-family: "Helvetica Neue", ​Helvetica, ​Arial, ​sans-serif;
	font-size: 12px;
}

.input-fluid {
	width: 100%;
}

.breadcrumb {
	margin: 0 0 0px;
}

label.error {
	color: red
}

.ui-layout-north .navbar  a {
	text-decoration: none;
	padding: 4px 15px;
}

.ui-layout-north .navbar .nav>li>a {
	padding: 4px 8px;
}

div.data-view {
	border-bottom: 1px solid #cccccc;
	padding: 5px;
	height: 20px;
}

.data-view .controls {
	border-bottom: 1px solid #cccccc;
	padding: 5px;
	height: 20px;
}

/*For jquery.highlight.js*/
span.highlight {
	background-color: #FFFF88;
}

.ui-jqgrid-btable a {
	text-decoration: underline;
}

.data-view a {
	text-decoration: underline;
}

.ui-jqgrid-htable th input {
	height: 16px;
}

.ui-jqgrid-htable th input[type="checkbox"] {
	margin: 0;
}

.ui-jqgrid-htable select {
	height: auto;
	padding: 0px;
}

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
	height: 100px;
}

.searchFilter input.add-rule,input.delete-rule,input.add-group,input.delete-group {
	height: 25px;
	width: 25px;
	margin-left: 2px;
}

.searchFilter select {
	margin: 2px;
	width: 130px;
}

.searchFilter tr {
	height: 30px;
}

.searchFilter td.first{
    width: 16px
}

.control-group .controls .input-append{
	width: 93%
}

.hero-unit{
	margin-bottom: 0px
}

/*偶数行颜色#f8f8f8  奇数行颜色与北京颜色相同为#f1f1f1   选中状态颜色#96c0e3   鼠标滑过状态颜色#d5e6f4；*/
.evennumber {
    background: #f8f8f8;
}